
#Wrapper-Home{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
#Header-Home {
  width: 100%;
  height:320px;
  
}     

        /* Slideshow container */
          .slideshow-container {
            max-width: 100%;
            position: relative;
            margin: auto;
            margin-top: 40px;
            margin-left: 50px;
          }
          /* Ẩn các slider */
          .mySlides {
              display: none;
          }
          /* Định dạng nội dung Caption */
          .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
          }

          /* định dạng các chấm chuyển đổi các slide */
          .dot {
            cursor:pointer;
            height: 13px;
            width: 13px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
          }
          /* khi được hover, active đổi màu nền */
          .active, .dot:hover {
            background-color: #717171;
          }

          /* Thêm hiệu ứng khi chuyển đổi các slide */
          .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 3s;
            animation-name: fade;
            animation-duration: 3s;
          }

          @-webkit-keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
          }

          @keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
          }

    /*.prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -5%;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
    }

    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }


    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }*/

    /* định dạng các chấm chuyển đổi các slide */



/* -------------------------------------------------*/
/* -------------------SẢN PHẨM--------------------- */
/* -------------------------------------------------*/
.tieude {
    color: #ebb00d;
    font-size: 20px;
    text-align:center;
}
    .tieude h2 {
        border-bottom:1px solid #ebb00d;
    }
.Product-picture{
    position: relative; /* căn hình lớp cha vào giữa*/
}

.Product-picture img{
    width: 90%;
    border-radius: 20px;
    border: 4px solid #c2effa;
    box-shadow: 0px 5px 15px 5px #5f5ff7; /* bóng của hình ảnh x,y,độ bao phủ, độ mờ,màu */
    transition: all .3s;

}

.Product-picture img:hover,
.Product-picture img:active{
    filter: brightness(80%) blur(3px); /* brightness(làm tối), blur(độ mờ)  */

}

.picture-title{
    position: absolute; /* căn hình lớp con vào giữa*/
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-75%,200%); /*căn chữ  */
  
    text-shadow:1px 1px 2px #FF0000;
    opacity: 0;
}

.Product-picture:hover .picture-title,
.Product-picture:active .picture-title{
    transform: translate(-75%,0%);
    opacity: 1;
}

/* -------------------------------------------------*/
/* ---------------Music Education------------------ */
/* -------------------------------------------------*/

h2 img{
    width: 200px;
    margin-top: -40px;
    vertical-align: middle;
}

.MucsicEducation-picture img{
    width: 102%;
    height: 264px;
}

.MucsicEducation-picture a{
    text-decoration: none;
}

.MucsicEducation-picture a:hover,
.MucsicEducation-picture a:active{
    color:crimson

}


/* -------------------------------------------------*/
/* ---------------News  &  Events------------------ */
/* -------------------------------------------------*/


.NewsEvents-picture img{
    width: 100%;
    
}

.NewsEvents-picture a{
    text-decoration: none;
}


.NewsEvents-picture a:hover,
.NewsEvents-picture a:active{
    border-bottom:1px solid #7a8cf3;

}

/* -------------------------------------------------*/
/* ---------------    CONTACT   ------------------ */
/* -------------------------------------------------*/
.rowNE{
    width: 750px;
    margin-left: 220px;
    margin-top: 10px;
    display: inline-block;
}


.contact-section{
    background-image:linear-gradient(45deg,rgba(26, 36, 63, 0.6) , rgba(107, 107, 109, 0.644)) , url("http://localhost:2225/webBanHang/img/bekYtir.jpg");
    background-position: center;
   
}   

.information{
    
    margin: 20px;
    list-style: none;
    display: inline;
    letter-spacing: 1px;
    line-height: 160%;
}

.information .small-icon{
    margin: 10px;
    color: #7474f3;
    cursor: pointer;
}

.information .small-icon:hover,
.information .small-icon:active{
    transform: scale(1.3);
}

.information li{
    color: wheat;
    margin-left: -100px;
}

.contact-icon li{
    margin: 20px;
    margin-left: 10px;
    list-style: none;
    display: inline-block;
    color:white;
   
    transition: all .3s;
    cursor: pointer;
}

.contact-icon li:hover,
.contact-icon li:active{
    transform: scale(1.5);
    color: wheat;
}


form{
    margin-top: 50px;
    color: wheat;
}


.input1, textarea{
    outline: none;
    padding: 10px;
    background-image:linear-gradient(45deg,rgba(57, 90, 180, 0.6) , rgba(107, 107, 109, 0.644));
    border: 1px solid rgba(57, 90, 180, 0.6) ;
}

form .btn{
    margin-left: 150px;
    margin-top: 20px;
}
#Product {
    margin-top: 60px;
}

/* -------------------------------------------------*/
/* ---------------    FOOTER   ------------------ */
/* -------------------------------------------------*/

footer{
    text-align: center;
    background-color: rgb(42, 42, 43);
    color: white;
    padding: 20px;
}

