<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="QL_SPORT" connectionString="Data Source=LAPTOP-9AAK9CJR\SQLEXPRESS;Initial Catalog=QL_SHOP;User ID=sa;Password=nguyenthanhan1810"
        providerName="System.Data.SqlClient" />
    <add name="KT" connectionString="Data Source=LAPTOP-9AAK9CJR\SQLEXPRESS;Initial Catalog=QL_SHOP;User ID=sa;Password=nguyenthanhan1810"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
        <providers>
          <add name="XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.sitemap"/>
          <add name="Web2SiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web2(UseForTree).sitemap"/>
        </providers>
      </siteMap>
    </system.web>
    <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
</configuration>
